[Unit]
Description=Entity Inventory service file
After=network.target
Wants=network-online.target

[Service]
Restart=always
RestartSec=30s
Type=simple
ExecStart=/var/einventory/start.sh
Environment=
User=einvuser

[Install]
WantedBy=default.target
