#chartContainer{
	width: 100%;
	height: 1000px;

	/*order: 1px solid #000;*/
}

#chartContainer canvas{
	touch-action: auto !important;	/*Override the touch-action: none property
	that go.js canvas has by default. Allows scrolling the whole page when the
	diagram itself has no internal scrolling*/

	outline: none;	/*Remove blue outline (on iOS, at least).*/
}