body{
}

h1{
	
}

.cardTable{

}

.fieldCol{
}


#container{
	min-width: 800px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

#header{
	background-color: #fff0f0;
	border-left: 10px solid #f00;
	
	padding: 10px;
}

#contentContainer{
	margin-top: 25px;
}

#footer{
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 100px;
	background-color: #fff0f0;
	border-left: 10px solid #f00;

	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;

}

.scanDiv{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.cardTable{
	border-spacing: 0px;
}

.cardTable td{
	padding: 5px 15px 5px 15px;
}

.rowEven{
	background-color: #eee;
}
.rowOdd{
	/*background-color: #ddd;*/
}



.backArrow{
	text-decoration: none;
	color: #000;
}

.backArrow img{
	height: 16px;
	width: 16px;
}

.section{
	margin-top: 30px;
	border-left: 10px solid #f00;
	padding: 20px;
	padding-left: 10px;
	background-color: #f9f9f9;
}

